* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: hsl(229, 57%, 11%);
  font-family: "Raleway";
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background-image: url(./images/bg-desktop.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 1590px;
  position: relative;
}

h3 {
  font-size: 14px;
  font-weight: 400;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.container__down {
  height: 80vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex__a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gigabyte p {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 600;
}
.left {
  background-color: hsl(228, 56%, 26%);
  padding: 35px 110px 35px 45px;
  border-radius: 8px;
  border-top-right-radius: 100px;
  margin-right: 30px;
}

.right {
  background-color: hsl(228, 56%, 26%);
  border-radius: 8px;
  padding: 15px 40px;
  width: 500px;
  transform: translateY(27px);
  position: relative;
}

.right h3 span {
  font-weight: 700;
}

.message {
  position: absolute;
  top: -35px;
  right: 30px;
  padding: 10px 18px;
  background-color: #fff;
  color: #111;
  border-radius: 8px;
}

.arrow {
  width: 0;
  height: 0;
  border-bottom: 30px solid #fff;
  border-right: 30px solid transparent;
  position: absolute;
  transform: rotate(180deg);
  right: 0;
  top: 40px;
}

.message p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: hsl(229, 7%, 55%);
  font-size: 11px;
  font-weight: 600;
  margin: 0;
}

.message span {
  font-size: 30px;
  color: #111;
  margin-right: 6px;
  font-weight: 700;
}

.icon__images {
  margin-top: 22px;
}

.icon__document {
  background-color: hsl(229, 57%, 11%);
  padding: 12px 14px;
  border-radius: 10px;
}

.icon__folder {
  background-color: hsl(229, 57%, 11%);
  padding: 14px 12px;
  border-radius: 10px;
  margin: 0 15px;
}

.icon__upload {
  background-color: hsl(229, 57%, 11%);
  padding: 16px 12px;
  border-radius: 10px;
}

.progress__bar {
  height: 18px;
  padding: 2px;
  border-radius: 10px;
  width: 100%;
  background-color: hsl(229, 57%, 11%);
  overflow: hidden;
}

.progress {
  width: 75%;
  height: 14px;
  border-radius: 10px;
  background-image: linear-gradient(
    60deg,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  position: relative;
}

.ball {
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 0;
  right: 1px;
  margin: 1px 0;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
  }
  .container {
    width: 400px;
  }

  .flex__a {
    flex-direction: column;
    justify-content: center;
  }

  .left {
    width: 400px;
    margin: 0 auto;
  }

  .right {
    width: 400px;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
  }

  .arrow {
    display: none;
  }

  .message {
    position: absolute;
    top: 105px;
    right: 110px;
    padding: 10px 25px;
  }

  .message p {
    font-size: 14px;
  }

  .message span {
    font-size: 48px;
  }

  .icon__images {
    width: 180px;
  }

  .icon__folder {
    margin: 0;
  }
}
