* {
  box-sizing: border-box;
}

body {
  background-color: hsl(230, 17%, 14%);
  font-family: "Inter", sans-serif;
  color: #fff;
}

h1 {
  font-size: 57px;
  margin: 0;
}

h2 {
  font-size: 27px;
  text-transform: capitalize;
  margin-bottom: 0;
}

h3 {
  font-size: 20px;
}

img {
  max-width: 100%;
  width: 17px;
}

.dark__mode {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  margin-right: 15px;
}

.container {
  width: 1400px;
  margin: 0 auto;
  padding: 20px 150px;
}
.flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex__two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex__space__between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.overview__today {
  padding: 2px 0 4px;
  font-size: 22px;
}

.social__media__dashboard {
  margin-bottom: 30px;
}

.social__media__dashboard p {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 600;
  color: hsl(228, 34%, 66%);
}

.pale__blue {
  padding: 10px 25px;
  width: 260px;
  text-align: center;
  background-color: hsl(228, 28%, 20%);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.box {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 260px;
}

.box-desaturated-blue::after {
  background-color: hsl(208, 92%, 53%);
}

.box-gradient::after {
  background-image: linear-gradient(
    60deg,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
}

.box-red::after {
  background-color: hsl(348, 97%, 39%);
}

.stats__today {
  padding: 15px 0;
}

.blue__top::before {
  content: "";
  background-color: hsl(356, 69%, 56%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.context {
  margin: 0 0 10px 0;
  letter-spacing: 7px;
  font-size: 10px;
  text-transform: uppercase;
  color: hsl(228, 34%, 66%);
}

.today {
  font-size: 13px;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  color: hsl(163, 72%, 41%);
}

.names {
  margin-left: 8px;
  font-size: 13px;
  font-weight: 700;
  padding: 7px 0;
}

.down {
  margin-bottom: 30px;
}

.views {
  font-size: 14px;
  color: hsl(228, 34%, 66%);
  font-weight: 600;
}

.view__number {
  font-size: 30px;
  font-weight: 600;
}

.view__percent {
  font-size: 11px;
  color: hsl(163, 72%, 41%);
  font-weight: 700;
  margin-left: 4px;
}

.view__percent__red,
.today-red {
  color: hsl(356, 69%, 56%);
}

.view__number {
  margin: 0 0 5px;
}

.num__percent {
  margin-top: 15px;
  padding-bottom: 5px;
}

.arrow {
  width: 8px;
}

.toggle__container {
  background-image: linear-gradient(
    60deg,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  width: 47px;
  height: 24px;
  border-radius: 30px;
  position: relative;
}

.toggle__container input {
  visibility: hidden;
}

.toggle__container label .ball {
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background-color: hsl(228, 28%, 20%);
  position: absolute;
  top: 2.5px;
  left: 2.5px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
  .container {
    width: 500px;
  }

  .flex .toggle__container {
    display: block;
  }

  .social__media__dashboard p {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .social__media__dashboard,
  .overview__today {
    width: 320px;
    display: block;
    transform: translateX(-60px);
  }
  .flex {
    flex-direction: column;
  }

  .flex__space__between {
    /* flex-direction: column; */
  }

  .flex__one {
    flex-direction: column;
  }

  .flex__two {
    flex-direction: column;
  }

  .pale__blue {
    width: 320px;
  }

  .box::after {
    width: 350px;
  }

  .dark__mode {
    color: hsl(228, 34%, 66%);
  }

  .border__top {
    border-top: 1px solid white;
    padding: 10px 0;
  }
}
