* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
  background-color: #fff;
  color: #111;
  position: relative;
  padding: 0;
  margin: 0;
}

body::before {
  content: "";
  background-image: linear-gradient(
    200deg,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  position: absolute;
  height: 700px;
  width: 500px;
  top: -30px;
  left: -100px;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
}

body::after {
  content: "";
  background-image: linear-gradient(
    200deg,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  position: absolute;
  height: 700px;
  width: 500px;
  top: -30px;
  left: -100px;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}