* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  width: 650px;
  height: 280px;
  padding: 30px;
  background-color: #fff;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawer__img {
  width: 500px;
  height: 100%;
}
