* {
  box-sizing: border-box;
}

body {
  font-family: "Spartan";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

body::before {
  content: "";
  background-image: url(./images/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  background-position: 5% right;
  background-size: contain;
  position: absolute;
  top: 2px;
  right: 60%;
  width: 700px;
  height: 700px;
}

body::after {
  content: "";
  background-image: url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: 60% 10%;
  background-size: contain;
  position: absolute;
  bottom: -400px;
  width: 1000px;
  height: 1000px;
}

h1 {
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 10px;
  color: hsl(300, 43%, 22%);
}

h3 {
  font-size: 14px;
  margin-bottom: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 100px;
}

.container-customer {
  margin-top: 50px;
}

.flex {
  display: flex;
}

.flex__d {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__one {
  float: right;
}

.social__proof {
  width: 40%;
}

.social__proof__desc {
  font-size: 14.5px;
  margin-top: 0;
  line-height: 20px;
  color: hsl(303, 10%, 53%);
}

.buyer__section {
  width: 540px;
  background-color: hsl(300, 43%, 22%);
  padding: 20px 25px;
  margin-right: 22px;
  border-radius: 10px;
  color: #fff;
}

.buyer__section__desc {
  font-size: 12px;
  line-height: 19px;
  margin-top: 5px;
}

.buyer__section img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

.buyer__section__buyer {
  margin-top: 0;
  font-size: 12px;
  color: hsl(333, 80%, 67%);
}

.flex__b {
  display: flex;
  align-items: center;
}

.flex__r {
  display: flex;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  margin-top: 10px;
  border-radius: 8px;
  padding: 2px 25px;
  width: 370px;
}

.rated {
  font-weight: 700;
  font-size: 12px;
  color: hsl(300, 43%, 22%);
}

.star {
  margin-right: 30px;
}

.drop__down__one {
  transform: translateY(20px);
}

.drop__down__two {
  transform: translateY(40px);
}

.move__left__one {
  transform: translateX(-40px);
}

.move__left__two {
  transform: translateX(-80px);
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  .flex__d {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .flex__r {
    flex-direction: column;
    padding: 8px 25px;
  }

  h1 {
    font-size: 24px;
    line-height: 25px;
    /* width: 60%; */
    margin: 0 auto;
  }

  .social__proof {
    width: 375px;
  }

  .social__proof__desc {
    font-size: 11px;
    width: 320px;
    text-align: center;
    margin: 0 auto;
  }

  .move__left__one {
    transform: translateX(0);
  }

  .move__left__two {
    transform: translateX(0);
  }

  .buyer__section {
    width: 380px;
    margin-right: 0;
  }

  .buyer__section__desc {
    display: flex;
  }

  .rated {
    margin: 0;
  }

  .container-customer {
    margin: 20px 0 0;
  }
}
